.ch {
    display: flex;
    width: 80%;
}

.msg {
    width: 80%;
    text-align: center;
    color: #080;
}

.nav {
    display: flex;
    text-align: right;
    height: 20px;
}

.nav * {
    margin: 0 10px;
}