.content {
    position: fixed;
    left: 300px;
    width: calc(100vw - 340px);
    height: calc(100vh - 100px);
    white-space: pre-line;
}

.content div {
    margin: 0 auto;
    max-width: 900px;
}