.logo {

}

.logo__title {
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 16px;
}

.logo__picture {
  width: 150px;
  height: 60px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url(../../images/logo3.png);
  margin-left: -15px;
}
